* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.col-form_section {  
  display: flex;
  flex-wrap: wrap;
}
.col-side {
  flex: 20%;
  background-color: white;
  padding: 50px;
  position: relative;
  left: 30%;
}
.col-msg {
  flex: 50%;
  background-color: white;
  padding: 50px;
  position: relative;
  left: 13%;
}

.col-sub {
  padding: 20px;
  text-align: center;
  background: white;
}
textarea{
  resize: none;
  height: 130px;
}
@media (max-width: 700px) {
  .form_section{   
    flex-direction: column;
  }
}
